<% layout('layouts/boilerplate')%>



<div class="container">
    <div class="justify-content-center">
        <h1>Register</h1>

        <form action="/register" method="POST">
            <div class="col-md-6">
                <label class="form-label" for="username">Korisničko ime:</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="valid-feedback">
                    Dobar
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="valid-feedback">
                    Dobar
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="password">Šifra:</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="valid-feedback">
                    Dobar
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="phoneNumber">Broj telefona:</label>
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                <div class="valid-feedback">
                    Dobar
                </div>
            </div>
            <button class="btn btn-success my-3">Register</button>
        </form>
    </div>
</div>