<% layout('layouts/boilerplate')%>

<main>

    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <table id="mjesec" class="table table-sm table-hover my-3">
                <thead>
                    <tr>
                        <th id="datumcol" scope="col" class="col text-end">Datum</th>
                        <th id="dancol" scope="col" class="col">Dan</th>
                        <th scope="col" class="col">Termin</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <table class=" table table-sm mt-0">
                        <tbody>
                            <tr>
                                <td class="text-end">Prethodni mjesec</td>
                                <td>Slijedeći mjesec</td>
                            </tr>
                        </tbody>
                    </table>
                </tfoot>
            </table>
        </div>
    </div>

    <script type="module" src="/js/calendar.js"></script>
</main>