<% layout('layouts/boilerplate')%>

<main>


    <div class="row d-flex justify-content-center">
        <div class="col-md-8">


            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-warning month prevMon me-3">Prethodni mjesec</button>
                <button class="btn btn-outline-warning month nextMon">Slijedeći mjesec</button>
            </div>

            <table id="mjesec" class="table table-sm table-hover my-3">
                <thead>
                    <tr>
                        <th id="datumcol" scope="col" class="col text-end">Datum</th>
                        <th id="dancol" scope="col" class="col">Dan</th>
                        <th scope="col" class="col">Termin</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-outline-warning month prevMon me-3">Prethodni mjesec</button>
                <button class="btn btn-outline-warning month nextMon">Slijedeći mjesec</button>
            </div>
        </div>
    </div>


    <script type="module" src="/js/calendar.js"></script>

</main>