#navbar-brand {
    color: white;
    font-weight: 400;
}

#comspan {
    color: #FC9102;
}

#pargLogo {
    color: #FC9102;
}

#datumcol,
#dancol {
    width: 100px;
}

#mjesec tbody td {
    font-weight: 600;
}

#termincol {
    padding: 0.05rem 0.25rem;
}

.month {
    color: black !important;
}


#namerect {
    display: flex;
    height: 1.5rem;
    width: 12rem;
    background-color: black;
    padding: 6px;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: center;
}