#navbar-brand {
    color: white;
    font-weight: 400;
}

#comspan {
    color: #FC9102;
}

#pargLogo {
    color: #FC9102;
}

#datumcol,
#dancol {
    width: 100px;
}

#termincol {
    padding: 0.05rem 0.25rem;
}

.month {
    color: black !important;
}